body {
  margin: 65px 0 65px 0;
  overflow: hidden;
  height:100%;
}


@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.5em; /* 1.2x default size */
        }
    }
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.0em; /* 0.8x default size */
        }
    }

#topicBar {
  padding: 2px 0px 2px 15px;
  margin: -5px -15px 2px -15px;
  background-color: #375A7F;
  background-color: #26496E;
  color: #CECECE;
  font-size: 15px;
}
#chatContainer {
  width: 100%;
  border-bottom-style: groove;
}
#users {
  border-left-style: groove;
  padding-left: 15px;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: normal;
  white-space: normal;
}
#inputRow { margin-top: 15px; }
#chatCol {
  overflow-x: none;
  overflow-y: auto;
  word-wrap: normal;
  white-space: normal;

}
#chatInput {
  margin:auto;
  margin-bottom: 5px;
}

.closechan { padding-left: 5px !important; padding-right: 0px !important; margin-right: 0px !important; }

.timestamp { color:#606060; padding: 0px 4px 0px 4px; display: inline; font-size: small;}
.nick { padding: 0px 4px 0px 4px; color: #5555FF; display: inline;}
.message { padding: 0px 4px 0px 4px; display: inline;}

.systemHead { padding: 0px 4px 0px 4px; display: inline; color: #FF3333 }
.systemMessage { padding: 0px 4px 0px 4px; display: inline; color: #BB3333}

.action { padding 0px 4px 0px 4px;}
.action.star { font-size: 10px; padding: 0px 4px 0px 4px; color: #33BB33;display: inline;}
.action.join { color: #33BB33; display: inline; }
